{% extends "base_page.html" %}
{% load staticfiles %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block extraCSS %}
    <link href="{% static 'css/form_style.css' %}" rel="stylesheet">

{% endblock %}

{% block menu %}
   <a href="/accounts/signup/"><button type="submit"><t4>Inschrijven</t4></button></a>
{% endblock %}

{% block body %}
    <h1 class="leading">{% trans "Sign In" %}</h1>
    <p> Om Lees Meer te kunnen gebruiken moet je een account aanmaken. Heb jij al een account dan kan je hieronder inloggen.
    <a class="nav" href="/accounts/signup/">Heb jij nog geen account?<button class="nav" type="submit"><t4>Maak een account</t4></button></a></p>
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
    </form>

{% endblock %}

{% block footer %}

{% endblock %}
