{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block body %}
<div class="container background login">
<h1 class="title">{% trans "Sign In" %}</h1>
<div class="content signup">
{% if socialaccount.providers  %}
<p>{% blocktrans with site.name as site_name %}Log alsjeblieft in met een van je geregistreerde externe accounts. Of, <a href="{{ signup_url }}">registreer</a>
een {{site_name}} account log beneden in:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}

<p>{% blocktrans %}Als je nog geen account hebt,
<a href="{{ signup_url }}" class="blueLink"> registreer </a> je dan eerst.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <p><button class="signupBtn" type="submit">{% trans "Log in" %}</button></p>
  <p><a class="button secondaryAction blueLink" href="{% url 'account_reset_password' %}">{% trans "Wachtwoord vergeten?" %}</a></p>
</form>
</div>
</div>
{% endblock %}
