{% extends "base_page.html" %}
{% load staticfiles %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block extraCSS %}
    <link href="{% static 'css/profile_style.css' %}" rel="stylesheet">

{% endblock %}

{% block menu %}
     <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
        {% endif %}
        <button type="submit"><t4>Log out</t4></button>
    </form>
{% endblock %}

{% block body %}
    <h1 class="leading">{% trans "Welkom bij Lees Meer" %}, {{request.user}}!</h1>
    <p> 
        Op Lees Meer ga je teksten lezen over de onderwerpen die jij zelf 
        leuk vindt. In de teksten kan je op lastige woorden klikken om meer 
        informatie te krijgen over dat woord.
    </p>
    <a href="/"><button class="nav">Ga naar de artikelen</button></a>
    
{% endblock %}

{% block footer %}

{% endblock %}
