<!DOCTYPE html>
{% extends "main_base.html" %}
{% load i18n %}
{% load url from future %}

{% load account %}
{% load staticfiles %}


{% block body %}

<div class="container background inside">
    <!--{% if request.user.is_authenticated %} -->
        <div class="row">
            <div class="col-lg-6">
                {% if profileImage != ""%}
                    <img src="{{profileImage}}" style="width:100%">
                {% else %}
                    <img src="{% static 'img/layout/profilepic.png' %}">
                {% endif %}
            </div>

            <div class="col-lg-6">
                <h1>{{user_details}}</h1>
                <h4> {{user_details.userprofile.school}}</h4>
            </div>
            <div class="row">
            <div class="col-lg-3"> 
                <h1> History </h1>
                {% for article in articleHistory %}
                    <p> {{ article }} </p>
                {% endfor %}
            </div>
            <div class="col-lg-6">
                <h1> Favourites </h1>
            </div>
        </div>
        </div>
        <div class="container">
            <h2> Badges </h2>
            {% for badge in badges %}
            <div class="col-lg-3">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">{{badge}}</h3>
                  </div>
                  <div class="panel-body">
                    {{ statistics.docsRead }}
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>


    
    
   <!-- {% endif %} -->


</div>

{% endblock body %}
