{% extends "base_page.html" %}
{% load staticfiles %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block extraCSS %}
    <link href="{% static 'css/form_style.css' %}" rel="stylesheet">

{% endblock %}

{% block menu %}
    <a href="/accounts/login/"><button type="submit"><t4>Inloggen</t4></button></a>
{% endblock %}

{% block body %}
	<h1 class="leading">{% trans "Schrijf je in voor Lees Meer" %}</h1>
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="signupBtn">{% trans "Schrijf je in" %} &raquo;</button>
    </form>
{% endblock %}

{% block footer %}

{% endblock %}



