.student-block{
    position: relative;
    float: left;
    height:240px;
    width: 240px;
    margin: 8px;
    padding: 8px;
    background: #f3f3f3;
}

.student-block p{
    margin: 8px 32px;
}

.student-block img{
    width:auto;
    height:100%;
}