.group-block{
    width:100%;
    min-height:64px;
    padding-bottom:16px;
    margin-bottom: 32px;
    border-bottom: thin dashed #39BAF4;
}

.group-block:after {
    content:'';
    display:block;
    clear: both;
}

.group-info-block{
    position: relative;
    float: left;
    height:240px;
    width: 240px;
    margin: 8px;
    padding: 8px;
    background: #f3f3f3;
}
.group-info-block.wide{
    width: inherit;
    height: auto;
    margin: 0 0 8px 0 ;
    padding: 0px;
}

.button{
    position: absolute;
    top:0;
    right:0;
    margin:8px;
}

.group-info-block p{
    margin: 8px 32px;
}

.group-info-block img{
    width:auto;
    height:100%;
}

.floating{
    position:absolute;
    width:inherit;
}
.word-block{
    float: left;
    width: auto;
    height:32px;
    position: relative;
    padding: 0 8px;
    margin:  8px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border-bottom:  2px solid #90D9F9;
}
.word-block:after {
    content:'';
    display:block;
    clear: both;
}

.article-block{
    width: inherit;
    height:32px;
    position: relative;
    margin-bottom:4px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border-bottom: thin dashed #90D9F9;
}

.article-title{
    position:absolute;
    top:0;
    bottom:0;
    left:64px;
    right:0;
}

.article-title h6{
    padding-left: 8px;
    padding-right:8px;
}

.article-image{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    width:64px;
}
.article-image img{
    width:64px;
    height:100%;
    overflow:hidden;
}

.article-freq{
    float: right;
    margin-right:8px;
    color: #39BAF4;
}

.link-div a{
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    cursor:pointer;
    height:100%;
    width:100%;
    z-index:1;
    margin: 0;
}

.link-div:hover{
    transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -webkit-transition: background .2s ease-in-out;
}

.link-div:hover{
    background: #C9E4EF;
}

.activity-block .cover{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background: #C9E4EF;
    text-align: center;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}
.activity-block .cover h1{
    margin: 80px 0;
    font-size: 64px;
    color: #FFF;
}

.activity-block:hover .cover{
    opacity: 0.95;
}

input{
    border: none;
    border-bottom: thin solid #39BAF4;
    width:100%;
    margin: 16px 0;
    display:block;
}
input[type=submit]{
    background: #39BAF4;
    color:#FFF;
}
input[type=submit]:hover{
    background: #049FE2;
    color:#FFF;
}
@media screen and (max-width: 580px) {
    .group-info-block{
        margin: 8px 0px;
        width:100%;
    }
    .article-title h6{
        margin: 0px 4px;
        padding:0px;
    }
}
