{% extends "main_base.html" %}

{% load staticfiles %}

{% block body %}

<div class="container background">
	<h1 class="title"> Over LeesMeer </h1>
	<div class="content">
		<h2 class="titleSmall">Over het platform </h2>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<p>
					LeesMeer is een platform dat gebruikers stimuleert meer te gaan lezen, door hen zelf te laten kiezen welke teksten ze bestuderen.
				</p>
				<p>
					Door gebruikers absolute vrijheid te geven bij het kiezen van onderwerpen die in hun interessegebied liggen, zorgt LeesMeer ervoor dat lezen geen doel, maar een middel wordt. Op die manier oefent de gebruiker zijn/haar leesvaardigheid, zonder het gevoel te hebben met een opdracht bezig te zijn.
				</p>
				<p>
					Naast het aanbieden van een vrij platform, helpt LeesMeer de gebruiker met <i>widgets</i> die het doorgronden van lastige teksten makkelijker maken. Een voorbeeld hiervan is het woordenboek-widget, die een definitie geeft van een woord zodra daarop geklikt wordt.
				</p>
			</div>
			<div class="col-md-2">
			</div>
		</div>
		<h2 class="titleSmall"> Wie wij zijn </h2>
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-8">
				<p>
					Wij zijn een groep enthousiaste mensen die ons graag inzetten voor het verbeteren en vernieuwen van onderwijs. 
				</p>
				<div class="col-md-4 person">
					<h3>Robrecht</h3>
					<img class="img-circle" src="{% static 'img/people/robrecht.jpg' %}">
				</div>
				<div class="col-md-4 person">
					<h3>Sander</h3>
					<img class="img-circle" src="{% static 'img/people/sander.jpg' %}">
				</div>
				<div class="col-md-4 person">
					<h3>Elise</h3>
					<img class="img-circle" src="{% static 'img/people/elisefix.jpg' %}">
				</div>
			</div>
			<div class="col-md-2">
			</div>
		</div>
	</div>
</div>
{% endblock body %}
