{% extends "main.html" %}
{% load staticfiles %}

{% block extraCSS %}
    <link href="{% static 'css/mainStyle.css' %}" rel="stylesheet">
    <link href="{% static 'css/articleStyle.css' %}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block body %}


{% include "topbar.html" %}
<div class="container" id="mainContent">
    <div id="article"></div>
    
</div>
<div id="cover">
    <a href="#" id="closeCover"><i class="fa fa-angle-double-down fa-3x"></i></a>
    <div class="container" id="row-holder">
        <div class="row" id="cards"></div>
    </div>
</div>



{% endblock body %}

{% block extraScripts %}
	<script src={% static "js/isotope.pkgd.min.js"%}></script>
    <script src={% static "js/filteringIsotope.js"%}></script>	
	
 	<script src="{% static 'js/interface.js' %}"></script>
+	<script src="{% static 'js/carddeck.js' %}"></script>
 	<script src="{% static 'js/widget_articleviewer.js' %}"></script>
 	<script src="{% static 'js/widget_dummy.js' %}"></script>
 	<script src="{% static 'js/widget_dictionary.js' %}"></script>
+	<script src="{% static 'js/widget_carddeck.js' %}"></script>
 	<script src="{% static 'js/widget_seemore.js' %}"></script>
 	<script src="{% static 'js/custom.js' %}"></script>
    
    <script>
    $(function(){
        $("#article").articleviewer(
            {'article': "{{ article.get_absolute_url }}" });
        $("#cards").carddeck({'cover': $("#cover")});
    });
    
    $('#closeCover').click(function(){
        $('#cover').removeClass('open');
        $('#selected').addClass('prevSelected');
        $('.lastSelected').removeClass('lastSelected');
        $('#selected').addClass('lastSelected');
        $('#selected').removeAttr('id');
    });
    
	</script>
{% endblock extraScripts %}
