{% extends "base.html" %}

{% load staticfiles %}

{% block body %}

<div class="container background">
	<div class="col-md-6 cats">
		<div id="categories">
			{% for item in categories %}
				<h3 class="title"> {{ item.title }} </h3>
				<div class="content"> {{ item.get_subcategories }}</div>
			{% endfor %}
		</div>
	</div>
	<div class="col-md-6 cats">
		<div id="categories_second">
			{% for item in categories %}
				<h3 class="title"> {{ item.title }} </h3>
				<div class="content"> {{ item.get_subcategories }} </div>
			{% endfor %}
		</div>
	</div>	
</div>

{% endblock body %}