{% extends "base.html" %}

{% load staticfiles %}

{% block body %}

<div class="container background">
	<div class="col-md-6 cats">
		<div id="categories">
			{% for item in left %}
				<h3 class="title"> {{ item.title }} </h3>
				<div class="content">
				<ul>
				{% for cat in item.get_subcategories %}
					<li> {{ cat.title }} </li>
				{% endfor %}
				</ul>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="col-md-6 cats">
		<div id="categories_second">
			{% for item in right %}
				<h3 class="title"> {{ item.title }} </h3>
				<div class="content">
				<ul>
				{% for cat in item.get_subcategories %}
					<li> {{ cat.title }} </li>
				{% endfor %}
				</ul>
				</div>
			{% endfor %}
		</div>
	</div>	
</div>

{% endblock body %}