{% extends "base.html" %}

{% load staticfiles %}

{% block body %}
<div class="container background">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-3 iconBlock"><p><img src="{% static "img/icons/musicwhite.png" %}" class="img-icon"></p></div>
		<div class="col-md-3 iconBlock"><p><img src="{% static "img/icons/sport.png" %}" class="img-icon"></p></div>
		<div class="col-md-3 iconBlock"><p><img src="{% static "img/icons/tech.png" %}" class="img-icon"></p></div>
		<div class="col-md-1"></div>
		<div class="col-md-1"></div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-3 iconBlock"><p><img src="{% static "img/icons/musicwhite.png" %}" class="img-icon"></p></div>
		<div class="col-md-3 iconBlock"><p><img src="{% static "img/icons/musicwhite.png" %}" class="img-icon"></p></div>
		<div class="col-md-3 iconBlock"><p><img src="{% static "img/icons/musicwhite.png" %}" class="img-icon"></p></div>
		<div class="col-md-1"></div>
		<div class="col-md-1"></div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-3 iconBlock"><p><img src="{% static "img/icons/musicwhite.png" %}" class="img-icon"></p></div>
		<div class="col-md-3 iconBlock"><p><img src="{% static "img/icons/musicwhite.png" %}" class="img-icon"></p></div>
		<div class="col-md-3 iconBlock"><p><img src="{% static "img/icons/musicwhite.png" %}" class="img-icon"></p></div>
		<div class="col-md-1"></div>
		<div class="col-md-1"></div>
	</div>
</div>
{% endblock body %}