{% extends "main.html" %}

{% load staticfiles %}
{% load socialaccount %}

{% block extraCSS %}
    <link href="{% static 'css/mainStyle.css' %}" rel="stylesheet">
    <link href="{% static 'css/loginStyle.css' %}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}


{% block body %}

<div id="logoHolder">
    <img src="/static/img/layout/logo_robrecht.png" id="logo">
</div>

<div class="loginHolder">
    <h1 style="text-align: center"> Welkom op Lees Meer </h1>
    <a href="{% provider_login_url 'windowslive' %}" >
        <div class="row loginButton">
            <div class="col-xs-3">
                <h1><i class="fa fa-windows fa-2x"></i></h1>
            </div>
            <div class="col-xs-9">
                <h1>Log in met<br> Windows Live</h1>
            </div>
        </div>
    </a>
    <p>
    <strong>Lees Meer</strong> is een programma dat speciaal gemaakt is om leerlingen te helpen met lezen. Soms staan er in teksten woorden die je toevallig niet weet of die je wel kent, maar even niet weet wat ze ook al weer betekenen. <strong>Lees Meer</strong> helpt hiermee. Door op een woord te klikken in de tekst komen er kaartjes in beeld met informatie over het woord. Hierdoor hoef je niet te lang stil te staan bij een lastige zin. Het is ook mogelijk om binnen het systeem een vraag te stellen over een woord. De docent krijgt deze vraag binnen en kan een antwoord achterlaten die dan voortaan bij de kaartjes verschijnt van dat woord.
</p>
<p>
    Wij hopen dat met <strong>Lees Meer</strong>, lezen leuker wordt. Of in ieder geval makkelijker. Zodat jij gewoon teksten kan lezen wanneer jij wilt en over de onderwerpen die jij leuk vindt.
</p>
</div>
    
    
    

<div class="secretLogin" style="position:fixed; display: block; bottom:0; right:0">
    <a href="{% provider_login_url 'google' %}" style="color: white">G+</a>
</div>

{% endblock body %}


{% block extraScripts %}

{% endblock %}
