{% extends "main_base.html" %}

{% block body %}

<div class="container background">
	<div class="col-md-12">
		{% for tup in crumbs %}
			<span class="arrows"> >> </span>
			<a href = "{{ tup.1 }}" class="crumbs"> {{ tup.0 }} </a> 
		{% endfor %}
	</div>
	<div class="col-md-6 cats">
		<div class="subs">
			<h2 class="titleBig">Subcategorie&euml;n</h3>
			{% for item in subcategories %}
				{% if item.get_articles %}
					<h3 class="title"> <a href = "{{ item.get_absolute_url }}" class="whiteLink"> {{ item.title }} </a></h3>
					<div class="content">
						<ul>
							{% for sub in item.get_random_articles %}
							<li>
								<a href = "{{ sub.get_absolute_url }}" class="blueLink"> {{ sub.title }} </a>
							</li>
							{% endfor %}
						</ul>
					</div>
				{% else %}
					<div> <a href = "{{ item.get_absolute_url }}" class="whiteLink"> <h3 class="titleEmpty"> {{ item.title }} </h3> </a></div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	<div class="col-md-6 cats">
		<div class="arts">
			<h2 class="titleBig">Artikelen</h3>
			{% for item in articles %}
				<h3 class="title"> {{ item.title }} </h3>
				<div class="content">
					{{ item.get_extract|safe }}
					<a href = "{{ item.get_absolute_url }}" class="blueLink">Lees meer </a>
				</div>
			{% endfor %}
		</div>
	</div>	
</div>

{% endblock body %}
