{% extends "base.html" %}

{% block body %}

<div class="container background">
	<div class="col-md-6 cats">
		<div class="subs">
			{% for item in subcategories %}
				<h3 class="title"> <a href = "{{ item.get_absolute_url }}" class="whiteLink"> {{ item.title }} </a></h3>
				<div class="content">
					<ul>
						{% for sub in item.get_articles %}
						<li>
							<a href = "{{ sub.get_absolute_url }}" class="blueLink"> {{ sub.title }} </a>
						</li>
						{% endfor %}
					</ul>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="col-md-6 cats">
		<div class="arts">
			{% for item in articles %}
				<h3 class="title"> {{ item.title }} </h3>
				<div class="content">
					{{ item.get_body|safe }}
				</div>
			{% endfor %}
		</div>
	</div>	
</div>

{% endblock body %}
