{% extends "main.html" %}

{% load staticfiles %}

{% block extraCSS %}
    <link href="{% static 'css/mainStyle.css' %}" rel="stylesheet">
    <link href="{% static 'css/navigationStyle.css' %}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}


{% block body %}
<div class="fullScreen">
    <div  id="mainContent">
         {% include "topbar.html" %}
        <div class="container-full">
            <div class="buttonHolder">
                <!--<input type="text" id="quicksearch" onblur="this.value=''"
					placeholder="Zoek artikel" style="width:100%; padding: 10px
					0px; margin:15px auto;"/>-->
                <div id="filters" class="btn-group-vertical">
                    <a type="button" class="btn btn-default btn-lg btn-block"
						href="#all" id="all"
                        data-url="{% url 'content_query' %}"
                        data-filter="*">Alles</a>
                    {% for category in categories %}
                        <a type="button" class="btn btn-default btn-lg btn-block"
							href='#category{{category.id}}'
							id="category{{category.id}}"
							data-filter="{{category.title}}"
							data-url="{{category.get_absolute_url}}"
						>
							{{category.title}}
						</a>
                    {% endfor %}
                </div>
            </div>
            <div class="articleHolder">
				<div class="isotope" id="articles"></div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}


{% block extraScripts %}
	<script src={% static "js/isotope.pkgd.min.js"%}></script>
	<script src={% static "js/filteringIsotope.js"%}></script>
	<!-- jquery mobile for hashchange event -->
    <script src={% static 'js/jquery.mobile.custom.min.js' %}></script>
	<script src={% static "js/loader.js"%}></script>
	<script>
		loader = new Loader("#articles");
		if(location.hash == ""){
			location.hash = 'all';
        } else {
            loader.update();
        }
	</script>
{% endblock %}
