{% extends "main.html" %}

{% load staticfiles %}

{% block extraCSS %}
    <link href="{% static 'css/mainStyle.css' %}" rel="stylesheet">
    <link href="{% static 'css/navigationStyle.css' %}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}


{% block body %}
<div class="fullScreen">
    <div  id="mainContent">
         {% include "topbar.html" %}
        <div class="container-full">
            <div class="buttonHolder">
                <input type="text" id="quicksearch" onblur="this.value=''" placeholder="Zoek artikel" style="width:100%; padding: 10px 0px; margin:15px auto;"/>
                <div id="filters" class="btn-group-vertical">
                    <button type="button" class="btn btn-default btn-lg btn-block" data-filter="*">Alles</button>
                    {% for category in categories %}
                        <button type="button" class="btn btn-default btn-lg btn-block" data-filter="{{category.title}}">{{category.title}}</button>
                    {% endfor %}
                </div>
            </div>
            <div class="articleHolder">
                <div class="isotope" id="articles">
                    {% for article in articles %}
                        <div class="articleTile">
	                        <a href="{{ article.get_absolute_url }}">
                            <div class="articleContent " style="background: {{article.categories.first.color}};
                                background-size: cover;
                                background-image: url('{% if article.image%}{{article.image}}{%else%}{{article.categories.first.image}}{%endif%}'); /* fallback */
                                background-image:  -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,255))), url('{% if article.image%}{{article.image}}{%else%}{{article.categories.first.image}}{%endif%}'); /* Saf4+, Chrome */
                                background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,255)), url('{% if article.image%}{{article.image}}{%else%}{{article.categories.first.image}}{%endif%}'); /* Chrome 10+, Saf5.1+ */
                                background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,255)), url('{% if article.image%}{{article.image}}{%else%}{{article.categories.first.image}}{%endif%}'); /* FF3.6+ */
                                background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,255)), url('{% if article.image%}{{article.image}}{%else%}{{article.categories.first.image}}{%endif%}'); /* IE10 */
                                background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,255)),url('{% if article.image%}{{article.image}}{%else%}{{article.categories.first.image}}{%endif%}'); /* Opera 11.10+ */
                                background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,255)), url('{% if article.image%}{{article.image}}{%else%}{{article.categories.first.image}}{%endif%}')         ; /* W3C */">
	                            
	                            <div class="articleTitle">
		                            <h4>{{article.title}}</h4>
	                            </div>
	                            
	                            <div class="articleInfo"> {% for category in article.categories.all %} {{category}} }} {% endfor %}
	                            </div>
                            </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}


{% block extraScripts %}
	<script src={% static "js/isotope.pkgd.min.js"%}></script>
	<script src={% static "js/filteringIsotope.js"%}></script>
{% endblock %}
