{% extends "main_base.html" %}

{% block body %}

<div class="container background inside">
	<div class="col-md-8 text" id="reader">	
		<script>
			$(
				$("#reader").articleviewer({'article': "{{ article.get_absolute_url }}" })				);
			</script>
	</div>
	<div class="col-md-4 right">
		<div id="dictionary" class="row widget">Geen woord geselecteerd</div>
		<script>$( $("#dictionary").dictionary() )</script>
		<div id="seemore" class="row widget">Geen woord geselecteerd</div>
		<script>$( $("#seemore").seemore() )</script>
		
	</div>
</div>

{% endblock body %}
