{% extends "base_page.html" %}
{% load staticfiles %}

{% block extraCSS %}
    <!--<link href="{% static 'css/mainStyle.css' %}" rel="stylesheet">-->
    <link href="{% static 'css/article_style.css' %}" rel="stylesheet">
    <link href="{% static 'css/typography.css' %}" rel="stylesheet">
    <link href="{% static 'css/base_page.css' %}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/dashboard_main.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>  
{% endblock %}

{% block backdrop %}

{% endblock %}

{% block body %}

<div id="mainContent">

<h1>Groepen</h1>

{% for group in groups %}
    <div class="group-block info-block" id="group_{{group.pk}}" pk="{{group.pk}}">
        <div class="group-info-block wide link-to-detail link-div">
            <a href="{% url 'dashboard_group' group.pk %}"></a>
			<div class="activity-block" style='height:100px; float:left'>
				<img id="group_activity_{{group.pk}}" src="{% static 'img/engagement-00.png'%}">
			</div>
            <div class="button">
                <h5> <i class="fa fa-wrench"></i> Beheer groep </h5>
            </div>
            <h2>{{group.title}}</h2>
            <p><span id="groupsize_{{group.pk}}">0</span> leerlingen</p>
            <p id="names_{{group.pk}}"></p>
        </div>
    </div>
{% endfor %}

<div class="group-block" id="newgroup">
        <h3>Maak een nieuwe groep aan</h3>
        <form class="form" id="create_group_form">
			{% csrf_token %}
            <input name='title' type="text" placeholder="naam van groep"></input>
            <input type="submit" value="Maak nieuwe groep"></input>
        </form>
</div>

</div>


{% endblock body %}

{% block overlay %}

{% endblock %}

{% block footer %}

{% endblock %}

{% block extraScripts %}
	<!-- jquery mobile for hashchange event -->
    <script src="{% static 'js/jquery.mobile.custom.min.js' %}"></script>
    <script src="{% static 'js/teacher_main.js' %}"></script>
    <script>
		$(function(){
			$("#create_group_form").submit(function(event){
				if(this.title.value != ""){
					var title = this.title.value
					data = $(this).serialize()
					this.title.value = ""
					$.post("{% url 'api_group' %}",	data)
					 .done(function(data, textStatus, jqXHR){
						$("#create_group_form").after(
							"<div class='group-info-block wide'><p>"+
							"<h5>Groep <b>"+title+"</b> is aangemaakt.</h5>" +
							"</p><p>Klik <a href='"+data+"'>"+
							"hier</a> om de groep te bekijken</p>")});
				} else {
					alert("Je moet eerst een groep naam invullen.");
				}
				event.preventDefault();
			})
		});
	</script>
{% endblock extraScripts %}
