{% extends "base_page.html" %}
{% load staticfiles %}

{% block extraCSS %}
    <!--<link href="{% static 'css/mainStyle.css' %}" rel="stylesheet">-->
    <link href="{% static 'css/article_style.css' %}" rel="stylesheet">
    <link href="{% static 'css/typography.css' %}" rel="stylesheet">
    <link href="{% static 'css/base_page.css' %}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/dashboard_main.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>  
{% endblock %}

{% block backdrop %}

{% endblock %}

{% block menu %}
    <a href="{% url 'dashboard_group' group.pk %}"><button type="submit">Terug</button></a>
    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
        {% endif %}
        <button type="submit">Log out</button>
    </form>
{% endblock %}

{% block body %}

<div id="mainContent">
    <h1>{{student}}</h1>
    <div class="student-block" id="click_info" pk="{{student.pk}}">
        <div class="group-info-block wide">
            <h3> Samenvatting van deze week</h3>
            <h4> Aangeklikte woorden </h5>
            <h6>
                <span id="clicked_words"></span>
            </h6>
            <h4> Gelezen artikelen </h5>
            <h6>
                <span id="articles_read"></span>
            </h6>
        </div>
    </div>
    <div class="group-block" id="group_{{group_id}}">
        
    </div>
     <div class="group-block" id="invite">
        
     </div>
</div>


{% endblock body %}

{% block overlay %}

{% endblock %}

{% block footer %}

{% endblock %}

{% block extraScripts %}
	<!-- jquery mobile for hashchange event -->
    <script src="{% static 'js/jquery.mobile.custom.min.js' %}"></script>
    <script src="{% static 'js/teacher_student.js' %}"></script>

    <script>

	</script>
{% endblock extraScripts %}
