/* File for custom CSS */

/* Body background landing page */

.body-background{
	background-color: #438EB9;
}

/* Menu background landing page */

.background{
	background-color: #f0f0f0;
	border-radius:4px;
	padding:1%;
}

/* 
	Landing page 
*/

/* Blocks for landing page */

.iconBlock{
	background-color: #cecece;
	text-align: center;
	padding: 1%;
	margin:1%;
	border-radius: 4px;
}

.iconBlock:hover{
	background-color: #438EB9;
}


/*
	Categories page
*/

.cats{
	background-color: #cecece;
	padding: 1%;
	color: #414141;
}

.content{
	background-color: #ffffff;
	color: #414141;
	padding:10px;
	border-radius:4px;
}

.title{
	color: #ffffff;
	background-color: #438eb9;
	padding: 1%;
	text-align: center;
	border-radius: 4px;
}

html,body{
	height:100%;
}

.wrapper{
	height:100%;
}

.text{
	height:100%;
	overflow:auto;
}

.inside{
	height:100%;
	background-color:#ffffff;
}
.col-md-8{height:100%;}

.landingText{
	color:#ffffff;
	font-family:sans-serif;
}

.whiteLink{
	color:#ffffff;
}
.whiteLink:hover{
	color:#ffffff;
	text-decoration: underline;
}

.blueLink{
	color:#438eb9;
	font-family: sans-serif
}

.blueLink:hover{
	color:#438eb9;
	font-family: sans-serif;
	text-decoration: underline
}

.titleBig{
	color:#ffffff;
	text-align: center;
}

.crumbs{
	color: #438eb9;
	font-family: sans-serif;
}
.crumbs:hover{
	color:#cecece;;
}

.arrows{color:#cecece;}