/* 
Primary Color:  #22ADC2
Highlights:     #F3F3F3
Shadow:         #736f66
Contrast:       #F35C9F
*/

html, body {
    background-color: #F3F3F3
    width: 100%;
}

h1 {
    color: #22ADC2;
}

p {
    color: #736f66;
}

p strong {
    font-weight: bold;
    font-size: 1.2em;
}


#topbar {
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:50px;
    margin: 0px;
    padding: 0px;
    background-color: #51afbc;
}
#topbar .row{
    margin: 0px;
    padding: 0px;
}

#mainContent{
    position:fixed;
    overflow-y: auto;
    top: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 25px;
    background-color: #fff;
    background: -webkit-linear-gradient(left, #FFF, #e9f8f9, #FFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #FFF, #e9f8f9, #FFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #FFF, #e9f8f9, #FFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #FFF, #e9f8f9, #FFF); /* Standard syntax */
    }
    
#mainContent::-webkit-scrollbar { 
    display: none; 
}
.navButton {
    height: 45px;
    width:45px;
    margin: 2px 0px;
    border: 1px solid #F3F3F3;
    border-radius: 5px;
}
.navButton:hover{
    box-shadow: 2px 2px 2px #F3F3F3 inset;
}
.navButton:active{
    box-shadow: 2px 2px 2px #736F66 inset;
}
.navButton img {
    height:35px;
    display:block; margin:5px 5px;"
}
