/* 
Primary Color:  #22ADC2
Highlights:     #F3F3F3
Shadow:         #736f66
Contrast:       #F35C9F
*/

.fullScreen{
    height:100%;
    width:100%;

}

.articleHolder {
    position:absolute;
    left:350px;
    top: 0;
    bottom:0;
    right:0;
    padding: 0 0;
    margin: 0 0;
}

.isotope {
    height:100%;
    overflow-y: auto;
    overflow: hidden;
}


.buttonHolder{
    position: fixed;
    left:0;
    top:60px;
    bottom:0;
    padding: 0px 5px;
    width:350px;
    overflow-y:auto;
    background-color: #333;
}

.buttonHolder::-webkit-scrollbar {
    display: none;
}

.buttonHolder .btn{
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.buttonHolder input{
    border-radius: 4px !important;
}

#filters{
    width:100%;
}


.articleTile{
	position:relative;
	z-index:2;
	padding: 0;
	margin 0;
	width:25%;
	height:350px;
}

@media screen and (max-width: 1200px) {
  .articleTile{
    width: 50%;
  }
}
@media screen and (max-width: 800px) {
  .articleTile{
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .articleTile{
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .buttonHolder {
  visibility: hidden;
    display: none;
  }
  .articleHolder {
    position: fixed;
    overflow-y: auto;
    left: 0;
    top: 60px;
  }
  
  #topbar #toggleCategories {
    display: block;
  }
}
.articleContent{
	position: absolute;
	height: 100%;
	width:100%;
    overflow: hidden;
	background-size: cover;
}

.articleContent:hover{
    box-shadow: 0px -145px 5px rgba(81,175,188,75) inset, 0px -145px 0px rgba(33,33,33,75) inset;

}

.articleContent:hover h4{
	color: #FFF;
	font-size: 28px;
}

.articleInfo{
	display:none;

}


.articleTitle{
	position: absolute;
	bottom:5px;
	left:5px;
	width:100%;
	height: auto;
	
	z-index:15;
	word-wrap:break-word;
	overflow: hidden;
}

.articleTitle h4{
	color: #f3f3f3;
	margin:10px;
	font-size: 22px;

}

