{% extends "base_page.html" %}
{% load staticfiles %}

{% block title %}LeestMeer - Dashboard Groep {% endblock title %}

{% block extraCSS %}
    <link href="{% static 'css/article_style.css' %}" rel="stylesheet">
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/dashboard_main.css' %}" rel="stylesheet">
    <link href="{% static 'css/dashboard_group.css' %}" rel="stylesheet">
{% endblock %}

{% block backdrop %}

{% endblock %}

{% block body %}

<div id="mainContent">
    {% if using %}
		<a href="{% url 'overview' %}?teacher={{ using }}" class='btn btn-primary'
        style='color: #fff'>
        &lt; Terug naar het groepen overzicht</a>
    {% elif request.user.teaches.count > 1 %}
    <a href="{% url 'overview' %}" class='btn btn-primary'
        style='color: #fff'>
        &lt; Terug naar het groepen overzicht</a>
    {% else %}
    <a href="{% url 'overview' %}" class='btn btn-primary'
        style='color: #fff'>
        Maak een extra groep aan</a>
    {% endif %}
    <div class="group-block" id="group_info">
        <h1 id="group-title">{{group.title}}</h1>
    </div>
	{% if students|length %}
    <div class="group-block" id="group_info">
        <div class="group-info-block wide">
            <h4> Groep samenvatting van deze week</h4>
			<div class="group-info-block" id="group_activity">
				<h3 class="floating">Activiteit</h3>
			</div>
			<div class="group-info-block" id="group_categories">
				<h3>Categorie&#xEB;n</h3>
			</div>
			<div class="group-info-block" id="group_words">
				<h3>Woorden</h3>
			</div>
        </div>
    </div>
    <div class="group-block">
        <h4>Leerlingen</h4>
        {% for student in students %}
            <div class="student-block link-div" pk="{{student.pk}}">
				{% if using %}
                <a href="{% url 'dashboard_student' group.pk student.pk %}?teacher={{ using }}"></a>
				{% else %}
                <a href="{% url 'dashboard_student' group.pk student.pk %}"></a>
				{% endif %}
                <h5 class="floating">{{student}} </i></h5>
                <img id="student_activity_{{student.pk}}" src="{% static 'img/engagement-00.png'%}">
                <div class="button">
                    <h5> <i class="fa fa-search"></i> </h5>
                </div>
                <div class="last-read">
                    <h6 class="floating" style="bottom:0">
                        <span id="read_week_{{student.pk}}"></span> artikelen gelezen deze week
                    </h6>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="group-block" id="group_info">
        <div class="group-info-block wide">
            <h4> Meest gelezen artikelen van deze week</h4>
			<div id="group_articles"></div>
		</div>
	</div>
	{% endif %}
    <div class="group-block">
        <div class="group-info-block wide">
			<h4>Aantal leerlingen:
				<span style='color: #333 !important'>
					{{ students|length }}
				</span>
			</h4>
            <h4>
                Groep code:
                <span style='color: #333 !important; font-weight: bold;'>
                    {{group.code}}
                </span>
            </h4>
            <p style='font-style: italic;'>
                Deze code kan gebruikt worden door uw leerlingen om zich bij uw groep
                toe te voegen.
            </p>
        </div>
    </div>
	{% if not using %}
	<div class="group-block" id="editgroup">
        <h3>Hernoem de groep</h3>
        <form class="form" id="edit_group_form">
			{% csrf_token %}
            <input name='title' type="text" placeholder="naam van groep"
				value="{{group.title}}"></input>
            <input type="submit" value="Hernoem groep"></input>
        </form>
	</div>
	{% endif %}
</div>


{% endblock body %}

{% block overlay %}

{% endblock %}

{% block footer %}

{% endblock %}

{% block extraScripts %}
	<!-- jquery mobile for hashchange event -->
    <script src="{% static 'js/jquery.mobile.custom.min.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>

    <script>
		$(function(){
			{% if students|length %}
			// Load group details
			$.get("{% url 'api_group' group.pk %}", function( data ) {
				draw_activity("#group_activity", data.engagement);
				draw_category_list("#group_categories", data.categories);
				draw_word_list("#group_words", data.words)
				draw_article_list("#group_articles", data.articles);
			});
			// Load students
			var student_api_endpoint = "{% url 'api_student' 'sid' %}";
			student_api_endpoint += "?stats=engagement,article_count"
			var sid;
			$(".student-block").each(function(){
				sid = $(this).attr('pk');
				$.get(student_api_endpoint.replace("sid", sid), function(sid){
					return (function(data){
							$( "#read_week_"+sid ).html( data.article_count );
							$( "#student_activity_"+sid).attr('src',
								'/static/img/engagement-0'+data.engagement+ '.png');
							});
				}(sid));
			});
			{% endif %}
			{% if not using %}
			// Load group edit form
			$("#edit_group_form").submit(function(event){
				if(this.title.value != ""){
					var title = this.title.value
					data = $(this).serialize()
					xhr = $.ajax({
						type: "PUT",
						url: "{% url 'api_group' group.pk %}",
						headers: {"X-CSRFToken": getCookie('csrftoken')},
						data: data})
					 .done(function(data, textStatus, jqXHR){
						$("#group-title").text(title);
						$("#edit_group_form").after(
							"<div class='alert alert-success'><p>"+
							"<h5>Groep is hernoemt naar <b>"+title+"</b>.</h5>"
						)});
				} else {
					alert("Je moet eerst een groep naam invullen.");
				}
				event.preventDefault();
			})
			{% endif %}
		});
	</script>
{% endblock extraScripts %}
